body{
    font-family:Arial;
}

.css-subscribe-button{
    border: none;
    background-color: black;
    color: white;
    padding:10px 15px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 30px;
}
.is-subscribed{
    background-color: rgb(240,240,240);
    color: black;
}
.css-input{
    font-size: 15px;
    padding: 10px;
}
.css-Calculate{
    border: none;
    background-color: green;
    color: white;
    font-size: 15px;
    padding: 12px 15px;
    cursor: pointer;
}